# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Node
node_modules/
npm-debug.log
*.log
dist/
.next/

# Project Specific
backend/data/raw/
backend/data/*.db
!backend/data/seed.sql
backend/*.db
backend/chroma_db/
backend/.env
frontend/.env.local
test_egov.py
